* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: Gabarito;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;

  justify-content: center;
  background-color: rgb(46, 118, 46);
}

#container {
  width: 85rem;
  height: 45rem;
  display: flex;

  margin: auto;
  align-items: center;

  border-radius: 10rem;
  background-color: #0b154efa;
  border: 1px solid #1b1010;
}

#image,
#calculator {
  display: flex;
  width: 50%;

  flex-direction: column;
}

#title {
  font-size: 2.4rem;
  color: #0b154efa;
  text-transform: uppercase;
}

#form {
  display: flex;
  width: 90%;
  height: 36rem;
  flex-direction: column;

  text-align: left;
  align-items: center;
  justify-content: space-around;

  border-radius: 5rem;
  background-color: #f49f1c;
}
.input-box {
  width: 100%;
  height: 6rem;

  text-align: center;
  align-items: center;
}

.input-box input {
  height: 3.5rem;
  width: 22rem;

  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;

  border-radius: 1rem;
  border: none;

  outline: none;
}
.input-box label {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;

  padding: 0 1rem;

  text-transform: uppercase;
  color: #0b154efa;
}
.input-box label > i {
  color: #0b154efa;
  margin: 0 0.6rem 0.5rem 0;
}
.input-box span {
  font-size: 1.5rem;
  font-weight: 500;

  margin-left: 0.4rem;
}
#calculate {
  cursor: pointer;
  width: 15rem;
  height: 4rem;
  font-size: 1.8rem;
  font-weight: 600;

  outline: none;
  border-radius: 0.5rem;

  color: aliceblue;
  border: 2px #0b154efa solid;
  background-color: #0b154efa;
  transition: 0.3s ease-in-out;
}
#calculate:hover {
  letter-spacing: 0.1rem;
}
#result {
  display: flex;
  height: 7rem;
  width: 80%;
  font-size: 2rem;

  justify-content: center;
  align-items: center;

  border: 2px #0b154efa solid;
  border-radius: 1rem;
  background-color: #ffffffe5;
}

@media screen and (max-width: 900px) {
  body {
    min-width: 38rem;
  }
  #container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 55rem;
    border-radius: 0 5rem 0 5rem;
    margin: 1rem;
  }
  #image {
    align-items: center;
    justify-content: center;
  }
  #image img {
    width: 30rem;
    height: 25rem;
  }
  #calculator {
    width: 90%;
    height: auto;

    align-items: center;
  }
  #form {
    width: 90%;
    height: 90%;
    border-radius: 5rem 0rem 5rem 0rem;
  }
  #form {
    gap: 2rem;
  }
  #title {
    margin-top: 1rem;
  }
  #calculate {
    width: 60%;
    height: 6rem;
  }
  #result {
    height: 7rem;
    margin-bottom: 2rem;
  }
}
